<ion-grid>
  <ion-row *ngIf="viewState$ | async as vs">
    <ion-col>
      Billing Address
      <p *ngIf="vs.customer?.billing">
        Email: {{ vs.customer.billing?.email }}
        First name: {{ vs.customer.billing?.first_name }}
        Last name: {{ vs.customer.billing?.last_name }}
        First line address : {{ vs.customer.billing?.address_1 }}
        Second line address: {{ vs.customer.billing?.address_2 }}
        Postcode: {{ vs.customer.billing?.postcode }}
        City: {{ vs.customer.billing?.city }}
        Country: {{ vs.customer.billing?.country }}
        Phone: {{ vs.customer.billing?.phone }}
      </p>
      <ion-button (click)="openModalAddressPage('billing_address', vs.billing_address)" expand="block" fill="clear"
        shape="round">
        Add Billing Address
      </ion-button>
      <ion-button (click)="clear('billing_address')" expand="block" fill="clear" shape="round">
        Clear
      </ion-button>
    </ion-col>
    <ion-col>
      Shipping Address
      <div *ngIf="vs.customer?.shipping">
        Email: {{ vs.customer?.shipping?.email }}
        First name: {{ vs.customer?.shipping.first_name }}
        Last name: {{ vs.customer?.shipping.last_name }}
        First line address : {{ vs.customer?.shipping.address_1 }}
        Second line address: {{ vs.customer?.shipping.address_2 }}
        Postcode: {{ vs.customer?.shipping.postcode }}
        City: {{ vs.customer?.shipping.city }}
        Country: {{ vs.customer?.shipping.country }}
        Phone: {{ vs.customer?.shipping.phone }}
      </div>

      <ion-button (click)="openModalAddressPage('shipping_address', vs.shipping_address)" expand="block" fill="clear"
        shape="round">
        Add Shipping Address
      </ion-button>
      <ion-button (click)="clear('shipping_address')" expand="block" fill="clear" shape="round">
        Clear
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>