<ion-grid>
  <ion-row *ngIf="viewState$ | async as vs">
    <ion-col>
      Billing Address
      <p *ngIf="vs.billing_address">
        Email: {{ vs.billing_address.email }}
        First name: {{ vs.billing_address.first_name }}
        Last name: {{ vs.billing_address.last_name }}
        First line address : {{ vs.billing_address.address_1 }}
        Second line address: {{ vs.billing_address.address_2 }}
        Postcode: {{ vs.billing_address.postcode }}
        City: {{ vs.billing_address.city }}
        Country: {{ vs.billing_address.country }}
        Phone: {{ vs.billing_address.phone }}
      </p>
      <ion-button (click)="openModalAddressPage('billing_address', vs.billing_address)" expand="block" fill="clear"
        shape="round">
        Add Billing Address
      </ion-button>
      <ion-button (click)="clear('billing_address')" expand="block" fill="clear" shape="round">
        Clear
      </ion-button>
    </ion-col>
    <ion-col>
      Shipping Address

      <p *ngIf="vs.shipping_address">
        Email: {{ vs.shipping_address.email }}
        First name: {{ vs.shipping_address.first_name }}
        Last name: {{ vs.shipping_address.last_name }}
        First line address : {{ vs.shipping_address.address_1 }}
        Second line address: {{ vs.shipping_address.address_2 }}
        Postcode: {{ vs.shipping_address.postcode }}
        City: {{ vs.shipping_address.city }}
        Country: {{ vs.shipping_address.country }}
        Phone: {{ vs.shipping_address.phone }}
      </p>

      <ion-button (click)="openModalAddressPage('shipping_address', vs.shipping_address)" expand="block" fill="clear"
        shape="round">
        Add Shipping Address
      </ion-button>
      <ion-button (click)="clear('shipping_address')" expand="block" fill="clear" shape="round">
        Clear
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>