<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ pageTitle }}
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-row class="ion-text-center ion-wrap">
      <ion-col size="4">
        <ion-button>
          <ion-label class="ion-wrap">
            Clear all
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button>
          <ion-label class="ion-wrap">
            Clear {{ pageTitle }}
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="back()">
          <ion-label class="ion-wrap">
            Back to products page
          </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>