<checkout-header [pageTitle]="pageTitle"></checkout-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <cart-icon></cart-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-cart></app-cart>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-button fill="outline" [routerLink]="['/checkout/addresses']" (click)="formReady(true)">
          Proceed
        </ion-button>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <!-- <ion-col size="12" *ngIf="viewState$ | async as vs">
        <ion-button fill="outline" (click)="createOrder(vs.cartItems, vs.customer.id)">
          create Order
        </ion-button>
      </ion-col> -->
    </ion-row>
  </ion-grid>

</ion-content>

<checkout-footer></checkout-footer>