<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="productsListPage()">
        Products List
      </ion-button>
    </ion-buttons>
    <ion-title>home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="checkoutPage()">
        Checkout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <cart-icon></cart-icon>
      </ion-col>
      <ion-col size="12">
        <app-cart></app-cart>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        products list
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>